* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 20px;
}

.centerdx {
  padding: 0 30% 0 0;
}

.centersx {
  padding: 0 0 0 30%;
}

a {
  text-decoration: none;
}

.h-container {
  height: 150px;
}

.h-navfix {
  position: fixed;
  width: 100%;
  border-bottom: 2px solid rgb(203,214,226);
  background-color: rgb(245,248,250);
  z-index: 99;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.h-nav {
  float: left;
  width: 50%;
  min-height: 150px;
  position: relative;
}

.navsx {
  position: absolute;
  top:50%;
  left: 0;
  transform: translate(0, -50%);
}

.font-skill {
  color: rgb(51,71,91);
  font-weight: 500;
}

 .padding-icon {
  padding: 10px;
 }

 .padding-icon:first-child {
   padding-left: 0;
 }

.english {
  border-right: 2px solid rgb(51,71,91);
  padding: 5px;
}

li {
  display: inline-block;
}

/* inizio navdx */

.navdx {
  position: absolute;
  top:50%;
  right: 0;
  transform: translate(0, -50%);
}

.login {
  padding: 5px;
}

.login > .log-b {
  background-color: transparent;
  border: 1px solid rgb(255,122,89);
  color: rgb(255,122,89);
  padding: 10px 20px;
  border-radius: 5%;
  font-weight: 400;
  transition: background-color 0.5s;
}

.log-b:hover {
  background-color: rgba(255,122,89,0.2);
}

.fa-search {
  color: rgb(0,153,255);
  padding: 20px;
}

.button {
  color: #fff;
  padding: 10px 20px;
  background-color: rgb(255,122,89);
  border-radius: 5%;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.5s;
}

.button:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* inizio navbar */

.h-logo {
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 150px;
  height: 150px;
}

ul {
  list-style: none;
}


.navbar-item {
  display: inline-block;
  padding: 10px;
  font-weight: 600;
}

.navbar-item > .fas {
margin-left: 10px;
}

/* inizio jumbo */

.jumbo {
  background-image: url(../img/jumbotron.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 1000px;
}

.title {
  float: left;
  width: 50%;
  padding-left: 15%;
}

h1 {
  padding: 30px 30px 30px 0;
  font-size: 80px;
  font-weight: 600;
  color: rgb(51,71,91);
}

.title > .button {
  padding: 20px 40px;
  border-radius: 3%;
  font-weight: 500;
  font-size: 25px;
}

.title > .m-p {
  padding: 30px 30px 40px 0;
}

.title > .m-p:last-child {
  font-size: 15px;
  padding: 40px 30px 30px 0;
}

/* inizio main */

main {
  background-color: rgb(245,248,250);
}

.zoom {
  transition: transform 0.3s ease 0.1s;
}

.zoom:hover {
  transform: scale(1.1);
}
/* inizio prima sezione cube */

.first-sec {
  padding: 30px 20%;
  text-align: center;
}

.cube {
  background-image: url(../img/cube.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 300px;
}

h3 {
  padding: 20px 20px;
  font-size: 40px;
  font-weight: 600;
  color: rgb(51,71,91);
}

.m-p {
  padding: 5px 5px;
  color: rgb(51,71,91);
  letter-spacing: 0.1;
}

/* inizio seconda sezione CRM */

.center-sec {
  padding: 30px 15%;

}
.shadow {
  box-shadow: 0px 0px 15px 10px rgba(170,170,170,0.2);
}

.illustration {
  float: left;
  width: 30%;
  background-color: #fff;
  height: 400px;
  text-align: center;
}

.illustration-logo {
  background-image: url(../img/CRM-Illustration.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 150px;
  margin-top: 25%;
}

.learnmore {
  padding-top: 30px;
}

.crm {
  float: left;
  width: 70%;
  background-color: #fff;
  height: 400px;
}

h5 {
  padding: 10% 0 0 0;
  font-size: 30px;
  font-weight: 600;
  color: rgb(51,71,91);
}

.crm > .m-p {
  padding: 20px 0;
}

.bold {
  font-weight: 600;
  display: inline-block;
}

.crm > .line {
  display: inline-block;
  width: 60%;
  margin: 5px 40px;
}

.crm > .m-p:last-child {
  padding-bottom: 0;
}

.fa-check-circle {
  color: rgb(255,122,89);
  padding-right: 10px;
}

/* inizio terza sezione */

.floating-sec {
  float: left;
  width: calc(100%/3 - 40px);
  text-align: center;
}

#marketing{
  background-image: url(../img/Marketing-Hub-Free.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 150px;
  margin-top: 20px;
}

#sales{
  background-image: url(../img/Sales-Professional-Illustration.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 150px;
  margin-top: 20px;
}

.middle {
  margin: 0 40px;
}

#service{
  background-image: url(../img/Service-Hub-Illustration.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 150px;
  margin-top: 20px;
}

.floating-sec > .m-p {
  margin: 40px;
  padding-bottom: 40px;
}

.division {
  border: 1px solid rgb(51,71,91);
  margin: 0 40px;
}

.floating-sec > .align-left {
  text-align: left;
  padding: 0;
  margin: 10px 40px;
  font-size: 18px;
}

.floating-sec > .learnmore {
  padding: 30px 0 40px 0;
}

/* inizio quarta sezione */

.gradient {
  margin-top: 30px;
  width: 100%;
  min-height: 800px;
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  text-align: center;
}

.center-sec > h3 {
  color: #fff;
}

.center-sec > .m-p {
  color: #fff;
  padding: 15px 15px 30px 15px;
  line-height: 150%;
}

.cell-center {
  padding: 0 15%;
}

.gradient-float {
  float: left;
  height: 200px;
  width: 25%;
  text-align: center;
}

.cell-center .gradient-cell > .no-border {
  border-right: none;
}

.border-bottom {
  border-bottom: 1px solid #fff;
}

.border-top {
  border-top: 1px solid #fff;
}

.border-right {
  border-right: 2px solid #fff;
}

.icon-cell {
  color: #fff;
  font-size: 40px;
  padding: 20px 0;
}

.number-cell {
  color: #fff;
  font-size: 50px;
  padding: 10px 0;
  font-weight: 600;
}

.p-cell {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

/* inizio quinta sezione */

.first-growing {
  padding: 30px 5% 30px 10%;
}

.customers {
  float: left;
  width: 30%;
  text-align: center;
  padding-top: 35px;
}

.customers-number {
  color: rgb(51,71,91);
  font-size: 50px;
  font-weight: 600;
  padding: 20px 0;
}

.brands {
  float: right;
  width: 70%;
  text-align: right;
}

#atlassian {
  background-image: url(../img/Atlassian.webp);
}
#doordash {
  background-image: url(../img/doordash.webp);
}
#crowd {
  background-image: url(../img/g2crowd.webp);
}
#monkey {
  background-image: url(../img/monkey.svg);
}
#subaru {
  background-image: url(../img/Subaru.webp);
}
#wistia {
  background-image: url(../img/Wistia.webp);
}
#classpass {
  background-image: url(../img/Classpass.webp);
}
#vmware {
  background-image: url(../img/VMware.webp);
}

.logo-brand {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 150px;
  width: 150px;
  display: inline-block;
  margin-left: 30px;
}

/* inizio sesta sezione */
.second-growing {
  padding-bottom: 60px;
}

.start-growing {
  float: left;
  width: 50%;
  text-align: left;
}

.woman {
  float: right;
  width: 50%;
  text-align: right;
}

.start-growing > h3 {
  padding-left: 0;
}

.start-growing > .m-p {
  padding: 50px 0;
}


.start-growing > .button {
  padding: 20px 40px;
  border-radius: 3%;
  font-weight: 500;
  font-size: 25px;
}

.start-growing > .m-p:last-child {
  font-size: 15px;
  padding: 60px 30px 30px 0;
}

#smiling-person {
  background-image: url(../img/woman.webp);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
}

/* inizio footer */

footer {
  background-color: rgb(51,71,91);
}

.footer-nav {
  float: left;
  width: calc(100%/4 - 20px);
  padding-right: 20px;
  padding-top: 20px;
  margin-left: 20px;
}

.footer-nav:first-child{
  margin-left: 0;
}

.footer-nav:last-child {
  padding-right: 0;
}

.footer-list > li {
  display: block;
  padding-top: 20px;
}

.footer-nav > .m-p {
  color: #fff;
  padding: 0 0 20px 0;
}

.footer-item{
color: #cbd6e2;
font-weight: bold;
font-size: 18px;
}

li > .footer-item:hover {
  color: rgb(153, 235, 255);
}

.contact {
  background-color:#fff;
  color: rgb(51,71,91);
  padding: 12px 24px;
  font-size: 17px;
  border-radius: 3%;
}

.footer-btn {
  padding: 30px 0;
}

.footer-icon {
  color:#cbd6e2;
}

.footer-icon > .fab {
  padding-right: 30px;
}

.footer-icon > .fab:hover {
  cursor: pointer;
  color: rgb(153, 235, 255);
}

.footer-sec {
  text-align: center;
  margin-top: 5%;
  border-bottom: 2px solid #cbd6e2;
  padding-bottom: 30px;
}

.footer-lenguage {
  color: #cbd6e2;
  padding: 20px 25px;
}

.footer-lenguage:hover {
  color: rgb(153, 235, 255);
}

.footer-logo  {
  float: left;
  color: #cbd6e2;
  padding-top: 30px;
  width: 50%;
  text-align: left;
  font-size: 50px;
}

.privacy {
  float: right;
  color: #cbd6e2;
  padding-top: 30px;
  width: 50%;
  text-align: right;
}

.privacy > span {
  padding-left: 30px;
}

.privacy-link {
  color: #cbd6e2;
}

.privacy-link:hover {
  color: rgb(153, 235, 255);
}

.copyright {
  color: #cbd6e2;
  padding-top: 20px;
  text-align: left;
}

/* icona in fixed */

.message-fix {
  position: fixed;
  background-color: rgb(51,71,91);
  color: #fff;
  font-size: 40px;
  border-radius: 50%;
  padding: 20px 20px 15px 20px;
  bottom: 1%;
  right: 1%;
}

.message-fix:hover {
  cursor: pointer;
}
