* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* COLOR */

/* #f5f8fa sfondo grigiolino */

/* #ff7a59 arancio dei bottoni */


/* COLOR */


.center {
  padding: 0 20%;
}

a {
  text-decoration: none;
}

* {
  font-family: sans-serif;
}

.h-container {
  height: 1000px;
  background-color: blue;
}

.h-navfix {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #33475b;
}

.h-navfix::after {
  content: "";
  display: table;
  clear: both;
}

.h-nav {
  float: left;
  width: 50%;
  background-color: #f5f8fa;
  min-height: 200px;
  position: relative;
}

.navsx {
  position: absolute;
  top:50%;
  left: 0;
  transform: translate(0, -50%);
}

.font-skill {
  font-size: 20px;
  color: #33475b;
  font-weight: 500;
}

 .padding-icon {
  padding: 10px;
 }

.english {
  border-right: 2px solid #33475b;
  padding: 5px;
}

/* inizio navdx */

.navdx {
  position: absolute;
  top:50%;
  right: 0;
  transform: translate(0, -50%);
}

.login {
  padding: 5px;
}

.login > .log-b {
  background-color: #fff;
  border: 1px solid rgb(255,122,89);
  color: rgb(255,122,89);
  padding: 10px 20px;
  border-radius: 5%;
  font-weight: 400;
  font-size: 20px;
  transition: background-color 0.5s;
}

.log-b:hover {
  background-color: rgba(255,122,89,0.2);
}

.fa-search {
  color: #0099ff;
  font-size: 20px;
  padding: 20px;
}

.button {
  color: #fff;
  padding: 10px 20px;
  background-color: rgb(255,122,89);
  border-radius: 5%;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  transition: opacity 0.5s;
}

.button:hover {
  opacity: 0.5;
}
