/* B O N U S */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 13px;
}

.centerdx {
  padding: 0 25% 0 0;
}

.centersx {
  padding: 0 0 0 55%;
}

a {
  text-decoration: none;
}

.h-container {
  height: 100px;
}

.h-navfix {
  position: fixed;
  width: 100%;
  border-bottom: 2px solid rgb(203, 214, 226);
  background-color: rgb(245, 248, 250);
  z-index: 99;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.h-nav {
  float: left;
  width: 40%;
  min-height: 100px;
  position: relative;
}

.h-navdx {
  float: right;
  width: 60%;
  min-height: 100px;
  position: relative;
}

.navsx {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.h-info {
  border-right: 2px solid rgb(51, 71, 91);
  padding: 5px 15px 5px 0;
  position: relative;
}

.h-info:last-child {
  padding-left: 10px;
}

.h-info>ul {
  display: none;
  position: absolute;
  background-color: #fff;
  margin-top: 8px;
  text-align: center;
  padding: 10px;
  border: 2px solid rgb(203, 214, 226);

}

.h-info:hover>ul {
  display: block;
}

.h-info ul li {
  display: block;
  padding: 10px;
  transition: color 0.2s;
}

.h-info ul li:hover{
  color: rgb(255, 122, 89);
}

.h-info:last-child {
  border: none;
}

.h-info:hover {
  text-decoration: underline;
  text-decoration-color: rgb(255, 122, 89);
}

li {
  display: inline-block;
}

/* inizio navdx */

.navdx {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}

.login {
  padding: 5px;
}

.log-b {
  background-color: transparent;
  border: 1px solid rgb(255, 122, 89);
  color: rgb(255, 122, 89);
  padding: 10px 20px;
  border-radius: 5%;
  font-weight: 400;
  transition: background-color 0.5s;
  margin-right: 10px;
}

.log-b:hover {
  background-color: rgba(255, 122, 89, 0.2);
}

.fa-search {
  color: rgb(0, 153, 255);
  padding: 20px;
}

.button {
  color: #fff;
  padding: 10px 20px;
  background-color: rgb(255, 122, 89);
  border-radius: 5%;
  text-decoration: none;
  font-weight: 500;
  transition: opacity 0.5s;
}

.button:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* inizio navbar */

.h-logo {
  background-image: url(../img/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100px;
  height: 100px;
}

.h-logo:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

.navbar-item {
  display: inline-block;
  padding: 10px;
  font-weight: 600;
  position: relative;
  font-size: 12px;
}

.navbar-item:hover {
  text-decoration: underline;
  text-decoration-color: rgb(255, 122, 89);
}

.navbar-item>.fas {
  margin-left: 10px;
}

.navbar-item>.partners-hidden {
  display: none;
  position: absolute;
  left: 50;
  right: 0;
  background-color: #fff;
  margin-top: 10px;
  padding: 20px;
  border: 2px solid rgb(203, 214, 226);
  width: 600px;
}

.navbar-item:hover>.partners-hidden {
  display: block;
}

.p-h {
  float: left;
  text-align:left;
  width: 50%;
  font-size: 15px;
  font-weight: 200;
  padding: 10px;
}

.p-h:hover {
  background-color: rgba(153, 235, 255, 0.3);
}

h6 {
  font-size: 13px;
  font-weight: bold;
  padding: 0 0 10px 0;
}

.about-hidden {
  display: none;
  position: absolute;
  left: 50;
  right: 0;
  background-color: #fff;
  margin-top: 10px;
  padding: 20px;
  border: 2px solid rgb(203, 214, 226);
  width: 600px;
}

.navbar-item:hover>.about-hidden {
  display: block;
}

.a-h {
  float: left;
  text-align:left;
  width: calc(100%/3);
  font-size: 15px;
  font-weight: 200;
  padding: 10px;
}

.a-h:hover ul li {
  background-color: rgba(153, 235, 255, 0.3);
}

/* inizio jumbo */

.jumbo {
  background-image: url(../img/jumbotron.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 500px;
}

.title {
  float: left;
  width: 50%;
  padding-left: 22%;
}

h1 {
  padding: 20px 20px 20px 0px;
  font-size: 30px;
  font-weight: 600;
  color: rgb(51, 71, 91);
}

.title>.button {
  padding: 12px 24px;
  border-radius: 3%;
  font-size: 15px;
}

.title>.hub-p {
  padding: 30px 30px 40px 0;
}

.title>.hub-p:last-child {
  font-size: 10px;
  padding: 40px 30px 30px 0;
}

/* inizio main */
main {
  background-color: rgb(245, 248, 250);
}

.zoom {
  transition: transform 0.3s ease 0.1s;
}

.zoom:hover {
  transform: scale(1.1);
}

/* inizio prima sezione cube */
.first-sec {
  padding: 30px 22%;
  text-align: center;
}

.cube {
  background-image: url(../img/cube.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 150px;
}

h3 {
  padding: 10px 10px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(51, 71, 91);
}

.hub-p {
  padding: 5px 5px 5px 0;
  color: rgb(51, 71, 91);
  letter-spacing: 0.1;
  font-size: 13px;
}

/* inizio seconda sezione CRM */
.center-sec {
  padding: 30px 22%;
}

.shadow {
  box-shadow: 0px 0px 15px 10px rgba(170, 170, 170, 0.2);
}

.illustration {
  float: left;
  width: 30%;
  background-color: #fff;
  text-align: center;
}

.illustration-logo {
  background-image: url(../img/CRM-Illustration.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 70px;
  margin-top: 25%;
}

.learnmore {
  padding: 30px 0;
}

.crm {
  float: left;
  width: 70%;
  background-color: #fff;
}

h5 {
  padding: 10% 0 0 0;
  font-size: 18px;
  font-weight: 600;
  color: rgb(51, 71, 91);
}

.crm>.hub-p {
  padding: 10px;
}

.bold {
  font-weight: 600;
  display: inline-block;
  width: 50%;
}

.division-line {
display: inline-block;
width: 40%;
}

.crm>.hub-p:last-child {
  padding-bottom: 28px;
}

.hub-p>span {
  font-size: 11px;
  padding-right: 10px;
}

.fa-check-circle {
  color: rgb(255, 122, 89);
  padding-right: 10px;
}

/* inizio terza sezione */
.floating-sec {
  float: left;
  width: calc(100%/3 - 30px);
  text-align: center;
}

.floating-sec:last-child {
  float: right;
}

#marketing {
  background-image: url(../img/Marketing-Hub-Free.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 70px;
  margin-top: 20px;
}

#sales {
  background-image: url(../img/Sales-Professional-Illustration.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 70px;
  margin-top: 20px;
}

.middle {
  margin: 0 30px 0 45px;
}

#service {
  background-image: url(../img/Service-Hub-Illustration.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 70px;
  margin-top: 20px;
}

.floating-sec>.hub-p {
  margin: 20px;
  padding-bottom: 10px;
}

.division {
  border: 1px solid rgb(51, 71, 91);
  margin: 0 15px;
}

.floating-sec>.align-left {
  text-align: left;
  padding: 0;
  margin: 10px 20px;
  font-size: 11px;
}



.floating-sec>.learnmore {
  padding: 25px 0 30px 0;
}

/* inizio quarta sezione */
.gradient {
  margin-top: 30px;
  padding: 70px 0;
  width: 100%;
  min-height: 500px;
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
  text-align: center;
}

.center-sec>h3 {
  color: #fff;
}

.center-sec>.hub-p {
  color: #fff;
  padding: 15px 15px 30px 15px;
  line-height: 150%;
}

.cell-center {
  padding: 0 15%;
}

.gradient-float {
  float: left;
  height: 150px;
  width: 25%;
  text-align: center;
}

.cell-center .gradient-cell>.no-border {
  border-right: none;
}

.border-bottom {
  border-bottom: 1px solid #fff;
}

.border-top {
  border-top: 1px solid #fff;
}

.border-right {
  border-right: 2px solid #fff;
}

.icon-cell {
  color: #fff;
  font-size: 20px;
  padding: 20px 0;
}

.number-cell {
  color: #fff;
  font-size: 25px;
  padding: 10px 0;
  font-weight: 600;
}

.p-cell {
  color: #fff;
  font-weight: 500;
}

/* inizio quinta sezione */

.customers {
  float: left;
  width: 40%;
  text-align: left;
  padding-top: 35px;
}

.customers-number {
  color: rgb(51, 71, 91);
  font-size: 30px;
  font-weight: 600;
  padding: 10px 0;
}

.brands {
  float: right;
  width: 60%;
  text-align: right;
}

#atlassian {
  background-image: url(../img/Atlassian.webp);
}

#doordash {
  background-image: url(../img/doordash.webp);
}

#crowd {
  background-image: url(../img/g2crowd.webp);
}

#monkey {
  background-image: url(../img/monkey.svg);
}

#subaru {
  background-image: url(../img/Subaru.webp);
}

#wistia {
  background-image: url(../img/Wistia.webp);
}

#classpass {
  background-image: url(../img/Classpass.webp);
}

#vmware {
  background-image: url(../img/VMware.webp);
}

.logo-brand {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 60px;
  width: 60px;
  display: inline-block;
  margin-left: 30px;
}

/* inizio sesta sezione */
.second-growing {
  padding-bottom: 60px;
}

.start-growing {
  float: left;
  width: 50%;
  text-align: left;
}

.woman {
  float: right;
  width: 50%;
  text-align: right;
}

.start-growing>h3 {
  padding-left: 0;
}

.start-growing>.hub-p {
  padding: 50px 0;
}

.start-growing>.button {
  padding: 15px 30px;
  border-radius: 3%;
  font-size: 15px;
}

.start-growing>.hub-p:last-child {
  font-size: 10px;
  padding: 60px 30px 30px 0;
}

#smiling-person {
  background-image: url(../img/woman.webp);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
}

/* inizio footer */
footer {
  background-color: rgb(51, 71, 91);
}

.f-nav {
  float: left;
  width: calc(100%/4 - 20px);
  padding-right: 15px;
  padding-top: 15px;
  margin-left: 15px;
}

.f-nav:first-child {
  margin-left: 0;
}

.f-nav:last-child {
  padding-right: 0;
}

.f-list>li {
  display: block;
  padding-top: 20px;
}

.f-nav>.hub-p {
  color: #fff;
  padding: 0 0 10px 0;
}

.f-item {
  color: #cbd6e2;
  font-weight: bold;
  font-size: 11px;
}


li>.f-item:hover {
  color: rgb(153, 235, 255);
  text-decoration: underline;
  text-decoration-color: rgb(255, 122, 89);
}

.contact {
  background-color: #fff;
  color: rgb(51, 71, 91);
  padding: 8px 16px;
  font-size: 9px;
  border-radius: 3%;
}

.footer-btn {
  padding: 30px 0;
}

.footer-icon {
  color: #cbd6e2;
  font-size: 11px;
}

.footer-icon>.fab {
  padding-right: 10px;
}

.footer-icon>.fab:hover {
  cursor: pointer;
  color: rgb(153, 235, 255);
}

.f-sec {
  text-align: center;
  margin-top: 5%;
  border-bottom: 2px solid #cbd6e2;
  padding-bottom: 30px;
}

.f-lenguage {
  color: #cbd6e2;
  padding: 10px 15px;
}

.f-lenguage:hover {
  color: rgb(153, 235, 255);
  text-decoration: underline;
  text-decoration-color: rgb(255, 122, 89);
}

.f-logo {
  float: left;
  color: #cbd6e2;
  padding-top: 30px;
  width: 50%;
  text-align: left;
  font-size: 25px;
}

.f-logo>.fab:hover {
  cursor: pointer;
  color: rgb(153, 235, 255);
}

.privacy {
  float: right;
  color: #cbd6e2;
  padding-top: 30px;
  width: 50%;
  text-align: right;
}

.privacy>span {
  padding-left: 30px;
}

.privacy-link {
  color: #cbd6e2;
}

.privacy-link:hover {
  color: rgb(153, 235, 255);
}

.copyright {
  color: #cbd6e2;
  padding-top: 20px;
  text-align: left;
  font-size: 8px;
}

/* icona in fixed */
.message-fix {
  position: fixed;
  background-color: rgb(51, 71, 91);
  color: #fff;
  font-size: 15px;
  border-radius: 50%;
  padding: 15px 15px 10px 15px;
  bottom: 1%;
  right: 1%;
  transition: all 0.4s;
}

.message-fix:hover {
  cursor: pointer;
  background-color: rgb(255, 122, 89);
  color: #fff;
}
